{% extends "base.html" %} {% load static %} {% block body %}

<div class="row">AVANCE REGIONAL</div>

<div class="row">
    <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box bg-gradient-danger">
            <span class="info-box-icon"><i class="fas fa-tablets"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">SI-01. Gestante con Dx y Tto Anemia</span>
                <span class="info-box-number">Meta: 70%</span>
                <div class="progress">
                    <div class="progress-bar" style="width: 70%"></div>
                </div>
                <span class="progress-description"> Descargar Cobertura   
                    <a href="{% url 'rpt_cobertura_s1_gestante_anemia_xls'%}">
                        <i class="fa fa-file-excel" style="color:white;"></i>
                    </a>
                </span>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box bg-gradient-danger">
            <span class="info-box-icon"><i class="fas fa-tablets"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">SI-04. Dosaje de HB</span>
                <span class="info-box-number">Meta: 85%</span>
                <div class="progress">
                    <div class="progress-bar" style="width: 70%"></div>
                </div>
                <span class="progress-description"> Descargar Cobertura   
                    <a href="{% url 'rpt_cobertura_s4_adolescente_dosaje_xls'%}">
                        <i class="fa fa-file-excel" style="color:white;"></i>
                    </a>
                </span>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 col-12">
        
    </div>

    <div class="col-md-3 col-sm-6 col-12">
        
    </div>
</div>

<div class="row">
    <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box bg-gradient-info">
            <span class="info-box-icon"><i class="fas fa-baby"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">SI-02.01. Suplementacion 0M a 6M</span>
                <span class="info-box-number">Meta: 88%</span>
                <div class="progress">
                    <div class="progress-bar" style="width: 88%"></div>
                </div>
                <span class="progress-description"> Descargar Cobertura   
                    <a href="{% url 'rpt_cobertura_s21_suplementacion6_xls'%}">
                        <i class="fa fa-file-excel" style="color:white;"></i>
                    </a>
                </span>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box bg-gradient-info">
            <span class="info-box-icon"><i class="fas fa-baby"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">SI-02.02. 12M con Anemia</span>
                <span class="info-box-number">Meta: 80%</span>
                <div class="progress">
                    <div class="progress-bar" style="width: 80%"></div>
                </div>
                <span class="progress-description"> Descargar Cobertura   
                    <a href="{% url 'rpt_cobertura_s22_anemia12_xls'%}">
                        <i class="fa fa-file-excel" style="color:white;"></i>
                    </a>
                </span>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box bg-gradient-info">
            <span class="info-box-icon"><i class="fas fa-baby"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">SI-02.03. 12M sin Anemia</span>
                <span class="info-box-number">Meta: 30%</span>
                <div class="progress">
                    <div class="progress-bar" style="width: 30%"></div>
                </div>
                <span class="progress-description"> Descargar Cobertura   
                    <a href="{% url 'rpt_cobertura_s23_suplementacion12_xls'%}">
                        <i class="fa fa-file-excel" style="color:white;"></i>
                    </a>
                </span>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box bg-gradient-info">
            <span class="info-box-icon"><i class="fas fa-baby"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">SI-03 11 Controles CRED</span>
                <span class="info-box-number">Meta: 80%</span>
                <div class="progress">
                    <div class="progress-bar" style="width: 80%"></div>
                </div>
                <span class="progress-description"> Descargar Cobertura   
                    <a href="{% url 'rpt_cobertura_s3_cred12_xls'%}">
                        <i class="fa fa-file-excel" style="color:white;"></i>
                    </a>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box bg-gradient-warning">
            <span class="info-box-icon"><i class="fas fa-diagnoses"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">VI-01.01 Ficha Deteccion</span>
                <span class="info-box-number">Meta: 100%</span>
                <div class="progress">
                    <div class="progress-bar" style="width: 100%"></div>
                </div>
                <span class="progress-description"> Descargar Cobertura   
                    <a href="{% url 'rpt_cobertura_v1_condicion_previa_xls'%}">
                        <i class="fa fa-file-excel" style="color:white;"></i>
                    </a>
                </span>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box bg-gradient-warning">
            <span class="info-box-icon"><i class="fas fa-diagnoses"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">VI-02.02 Tamizaje Positivo</span>
                <span class="info-box-number">Meta: 20%</span>
                <div class="progress">
                    <div class="progress-bar" style="width: 20%"></div>
                </div>
                <span class="progress-description"> Descargar Cobertura   
                    <a href="{% url 'rpt_cobertura_v2_tamizaje_violencia_xls'%}">
                        <i class="fa fa-file-excel" style="color:white;"></i>
                    </a>
                </span>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box bg-gradient-warning">
            <span class="info-box-icon"><i class="fas fa-diagnoses"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">VII-01 Paquete Terapeutico</span>
                <span class="info-box-number">Meta: 30%</span>
                <div class="progress">
                    <div class="progress-bar" style="width: 30%"></div>
                </div>
                <span class="progress-description"> Descargar Cobertura   
                    <a href="{% url 'rpt_cobertura_v3_paquete_terapeutico_xls'%}">
                        <i class="fa fa-file-excel" style="color:white;"></i>
                    </a>
                </span>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 col-12">
        
    </div>
</div>

<div class="row">
    <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box bg-gradient-success">
            <span class="info-box-icon"><i class="fas fa-tablets"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">MC-01 Paquete Gestante</span>
                <span class="info-box-number">Meta: 70%</span>
                <div class="progress">
                    <div class="progress-bar" style="width: 70%"></div>
                </div>
                <span class="progress-description"> Descargar Cobertura   
                    <a href="{% url 'rpt_cobertura_paquete_gestante_red_xls'%}">
                        <i class="fa fa-file-excel" style="color:white;"></i>
                    </a>
                </span>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box bg-gradient-success">
            <span class="info-box-icon"><i class="fas fa-baby"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">MC-02 Niños Menores de 12 Meses</span>
                <span class="info-box-number">Meta: 75%</span>
                <div class="progress">
                    <div class="progress-bar" style="width: 75%"></div>
                </div>
                <span class="progress-description"> Descargar Cobertura   
                    <a href="{% url 'rpt_cobertura_paquete_nino_red_xls'%}">
                        <i class="fa fa-file-excel" style="color:white;"></i>
                    </a>
                </span>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box bg-gradient-success">
            <span class="info-box-icon"><i class="fas fa-baby-carriage"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">MC-03 Paquete Recien Nacido</span>
                <span class="info-box-number">Meta: 82%</span>
                <div class="progress">
                    <div class="progress-bar" style="width: 82%"></div>
                </div>
                <span class="progress-description"> Descargar Cobertura   
                    <a href="{% url 'rpt_cobertura_paquete_neonatal_red_xls'%}">
                        <i class="fa fa-file-excel" style="color:white;"></i>
                    </a>
                </span>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 col-12">
        
    </div>
</div>

{% endblock %}
